<section>
  <ul>
    <li><img src="<%= book.image_url %>"></li>
    <li><h2><%= book.title %></h2></li>
    <li><p><%= book.author %><p></li>
    <li><p><%= book.description %></p></li>
    <li><p>ISBN: <%= book.isbn %></p></li>
    <li><p>Bookshelf: <%= book.bookshelf %></p></li>


  </ul>
</section>