<!DOCTYPE html>
<html>
  <%- include('./../pages/partials/head.ejs') %>

  <body>
    <%- include('./../pages/partials/header.ejs') %>

    <main>
      <section>
        <div><%= books.length %></div>
        <h1>Saved Books</h1>
      </section>
      <section class="deck">
        <% books.forEach(book => { %>
          <%- include('./../pages/partials/detail.ejs', {book: book, route: '/'}) %>
          <!-- <div class="card">
            <ul>
              <li><img src="<%= book.image_url %>" alt="book cover"></li>
              <li><%= book.title %></li>
              <li><%= book.author %></li>
              <li><a href="/books/<%= book.id %>">View Details</a></li>
            </ul>
          </div> -->
         <% }); %>
      </section>
    </main>

    <%- include('./../pages/partials/footer.ejs') %>

  </body>
</html>